.icon_cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.icon_text {
  margin: 0;
  font-size: 10px;
  text-align: center;
}

.Breadcrumb_container {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 5px 10px;
  color: #bfbfbf;
}

.Breadcrumbs a {
  color: #bfbfbf;
}

.Breadcrumbs a:hover {
  cursor: pointer;
  color: #fff;
}

@media only screen and (min-width: 800px) {
  .icon {
    display: none;
  }
}