.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 230px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #17548c;
  border-radius: 10px;
}
.popup-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 12px;
  height: 95%;
  width: 95%;  
  margin: auto;
  background: white;
  border-radius: 10px;
  color: black;
  .popup-text {
    padding: 5px;
  }
  .popup-button {

  }
}