Main {
  display: flex;
  justify-content: center;
}

.App-header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #17548c;
}

.NavMenu_List {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.NavMenu_List li {
  background-color: #34aed7;
  padding: 5px;
  margin: auto;
  color: #fff;
}

li:hover {
  cursor: pointer;
  box-shadow: none;
}

.NavMenu_List li a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
}

.layout {
  margin-top: 105px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.img-logo {
  max-width: 768px;
}

.button-container {
  display: flex;
  justify-content: center;

  .print-button {
    width: 20%;
  }
}

@media only screen and (max-width: 800px) {

  .list-container {
    flex-direction: column;
  }

  .print-button {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .layout {
    min-width: 768px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .NavMenu_List {
    max-width: 768px;
    margin: auto;
  }

  .img-logo {
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  .img-logo {
    box-shadow: none;
  }

}