.App {
  /* text-align: center; */
}

Main {
  display: flex;
  justify-content: center;
}

.App-header {
  display: flex;
  justify-content: center;
}

.layout {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0vw 1vh 5vh 1px rgba(0, 0, 0, 0.5);
  min-width: 300px;
}

.list-container {
  display: flex;
  flex-direction: row;

}

.img-logo {
  box-shadow: 0vw 1vh 5vh 1px rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  justify-content: center;
  .print-button {
    width: 20%;
  }
}
@media only screen and (max-width: 800px) {

  .list-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .img-logo {
    box-shadow: none;
    width: 100%;
  }

}